## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

    *        : Expression
    'hello'  : Value
    -87.8    : Value
    -        : Expression
    /        : Expression
    +	     : Expression
    6        : Value

## 2. What is the difference between string and variable?

__String__ : String is a value or a data type in python. It is always enclosed within single or double quotes

__Variable__ : Variable is a type of container to hold/store values of any data type.

## 3. Describe three different data types.

__int__   : Integer data type contains numeric values (excluding the decimal values). For eg. 1,2,45,6,7,etc.

__float__ : Float data type contains decimal numeric values. For eg. 3.4,5.9,0.9,etc.

__str__   : Values enclosed in single or double quotes are classified as string data type. Values can be alphabetical, numeric , alpha-numeric or any type of value given that it is enclosed in quotes. For eg. "apple", "1234", "key1", etc.

__bool__  : Boolean data type consists of two values "True" and "False". Numeric representation of True is 1 and that of False is 0.

__complex__ : In complex data type, the value comprises of two parts i.e "real" and "imaginary". For eg. (4+5j) where 4 is the real part and 5 is the imaginary part

## 4. What is an expression made up of? What do all expressions do?

Expressions are basically termed as "Operators" which are used to carry out several operations such as "Mathematical", "Logical", "Comparison", etc.

__Mathematical expresssions__ : addition: +, subtraction: -, multiplication: *, division: /, exponential: ** , modulus: %, etc.

__Logical expressions__       : and (&), or (|), not (!)

__Comaparison expressions__   : <, >, <=, >=, ==, !=

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expressions are used to carry out certain operations amongst the values such as addition, concatenation, comparison, etc whereas statements are used for variable assignments. For eg. spam = 10, where value 10 is assigned to variable "spam"

## 6. After running the following code, what does the variable bacon contain?

In [1]:
bacon = 22
bacon + 1
bacon

22

## 7. What should the values of the following two terms be?

In [2]:
'spam' + 'spamspam'

'spamspamspam'

In [3]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

There are certain rules with respect to variable name creation which includes that a numeric value can't be considered as a variable name so it is considered as invalid whereas eggs is considered as a valid variable name.

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Suppose, we have __a = "23091996"__ then

In [10]:
a = "23091996"

#Integer
b = int(a)
print(b, type(b))

#Float-point number
c = float(a)
print(c, type(c))

#String
d = str(a)
print(d, type(d))

23091996 <class 'int'>
23091996.0 <class 'float'>
23091996 <class 'str'>

## 10. Why does this expression cause an error? How can you fix it?

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

The above expression causes an error because we can't concatenate two different data types. So, to fix the above issue we need to convert all the values to a comman data type as below.

In [12]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'